[Desktop Entry]
Type=Application
Name=Fraqtive
GenericName=Fractal Generator
Comment=Mandelbrot family fractal generator
Icon=fraqtive
Exec=fraqtive
Categories=Qt;Education;Science;Math;
